/* ================================= 
  Transições do Button
==================================== */

.button {
	color: #fff;
	background: #4a89ca;
	transition-duration: .4s;
	transition-property: background, border-radius, transform;
}

.button:hover {
	background: #d36a62;
	border-radius: 10px;
}

.button:active {
	background: #a33830;
}

/* ================================= 
  Transições da Foto
==================================== */

.photo-overlay {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
}

.photo-overlay h3, .photo-overlay p {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 5;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo-overlay:hover h3, .photo-overlay:hover p {
	opacity: 1;
}