* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

:root {
  --vermelho: #ea1d2c;
  --branco: #ffffff;
}

a {
  text-decoration: none;
}

/* CLASSE GLOBAIS */
.section {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1200px;
  width: 100%;
}
.color {
  background-color: tomato;
}
.background-vermelho {
  background-color: var(--vermelho);
}

.background-gray {
  background-color: #f5f6fa;
}

/* ESTILIZAÇÃO DO HEADER */

header {
  height: 14vh;

  display: flex;
  justify-content: center;

  border-bottom: 2px solid var(--vermelho);
}

.navbar {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin: 0 20px;
}

#logo {
  width: 110px;
  height: auto;
  display: block;
}

#menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.item-menu {
  margin-left: 15px;
  margin-right: 15px;
}
.item-menu a{
  color: #222222;
  text-decoration: none;

  transition: color 0.2s;
}
.item-menu:hover a{
  color: var(--vermelho);
}
li.botao-entrar {
  background-color: var(--vermelho);
  color: white;
  width: 100px;
  height: 40px;

  border-radius: 5px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.2s;
}
li.botao-entrar a#color{
  color: white;
  font-weight: bold;
}
li.botao-entrar:hover {
  border: 2px solid var(--vermelho);
  background-color: white;
}
li.botao-entrar:hover a#color {
  color: var(--vermelho)
}
.caixa-login {
  position: absolute;
  background-color: #3F3D56;

  padding: 20px;

  top: 100px;
  right: 0;

  z-index: 999;
}
.caixa-login input {
  margin-bottom: 10px;
  height: 40px;
  border: 0;
}
.caixa-login input::placeholder {
  color: #cccccc;
}
.caixa-login  span {
  width: 30px;
  height: 30px;
  background-color: #3F3D56;
  position: relative;
  top: -34px;
  right: -75px;
  transform: rotate(45deg);
}
.btn-login {
  margin: 0;
  padding: 0;
  height: 40px;
}
#menu-hamburguer {
  width: 25px;
  height: 8px;
  position: relative;

  display: none;
}
#menu-hamburguer::after, #menu-hamburguer::before {
  content: '';
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 2px;
  background-color: var(--vermelho);
  border-radius: 2px;
  transition: transform 0.2s;
}
#menu-hamburguer::after {
  top: 0;
  left: 0;
}
#menu-hamburguer::before {
  width: 60%;
  bottom: 0;
  left: 0;
}
/* ESTILIZAÇÃO DA APRESENTAÇÃO DO SITE */
.caixa-apresentacao {
  height: 86vh;
  display: flex;
}
#caixa-texto-apresentacao {
  width: 50%;
  padding-top: 6.875rem;
  padding-right: 30px;
}
#caixa-texto-apresentacao h1 {
  font-size: 3.4375rem;
}
#caixa-texto-apresentacao a {
  max-width: 150px;
  width: 100%;
  height: 40px;

  background-color: var(--vermelho);
  border-radius: 5px;
  text-decoration: none;
  color: var(--branco);

  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.2s;
}
#caixa-texto-apresentacao a:hover {
  background-color: #ce111e;
}
#caixa-imagem-apresentacao {
  width: 50%;

  display: flex;
  align-items: center;
}
#caixa-imagem-apresentacao img {
  width: 100%;
  height: auto;
}
/* SEÇÃO DOS PRODUTOS */
.caixa-produtos {
  min-height: 100vh;
  height: auto;
  padding-top: 30px;
}
.background {
  background-image: url('../imagens/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.produto {
  display: block;
  width: 250px;
  height: 350px;
  list-style: none;

  border-radius: 10px;
  margin-bottom: 35px;
}
.descricao-produto {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: block;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 10px;
  text-decoration: none;
  color: var(--branco);
}
.descricao-produto strong {
  text-align: center;
  font-size: 24px;
}
.descricao-produto p {
  text-align: center;
  font-size: 17px;

  margin-bottom: 25px;
}
.descricao-produto button {
  border: 0;
  height: 30px;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--vermelho);
  color: var(--branco);
  font-weight: bold;

  border: 2px solid var(--vermelho);
  transition: border 0.5s;
  transition: background 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}
.descricao-produto button:hover {
  border-color: var(--vermelho);
  background-color: #ffffff;
  color: var(--vermelho);
}

.background-pizza {
  background-image: url('../imagens/produtos/pizza.jpg');
  background-size: cover;
  background-position: center;
}
.background-hamburguer {
  background-image: url('../imagens/produtos/hamburguer.jpg');
  background-size: cover;
  background-position: center;
}
.background-brasileira {
  background-image: url('../imagens/produtos/feijoada.jpg');
  background-size: cover;
  background-position: center;
}
.background-japonesa {
  background-image: url('../imagens/produtos/sushi.jpg');
  background-size: cover;
  background-position: center;
}
.background-vegetariana {
  background-image: url('../imagens/produtos/vegetariana.png');
  background-size: cover;
  background-position: center;
}
.background-churrascaria {
  background-image: url('../imagens/produtos/churrascaria.jpg');
  background-size: cover;
  background-position: center;
}
.background-macarrao {
  background-image: url('../imagens/produtos/macarrao.jpg');
  background-size: cover;
  background-position: center;
}
.background-manha {
  background-image: url('../imagens/produtos/cafe-da-manha.jpg');
  background-size: cover;
  background-position: center;
}

/* SEÇÃO APOIADORES */
.caixa-apoiadores {
  height: 400px;
  padding-top: 20px;

  position: relative;
}
.caixa-apoiadores h2 {
  text-align: center;
}
.apoiadores p{
  display: inline;
  font-size: 50px;
  position: absolute;
  font-family: 'Fuggles';
  font-weight: bold;
}
#fogaca {
  top:100px;
  left: 30px;
}
#helena {
  top:300px;
  left: 200px;
}
#claude {
  top: 100px;
  right: 0;
}
#alex {
  right: 100px;
  bottom: 50px;
}
#olivier {
  top: 150px;
  left: 400px;
}
#felipe {
  top: 300px;
  left: 600px;
}
#erick {
  top: 180px;
  right: 200px;
}
#isaac {
  top: 200px;
  left: 70px;
}

/* SEÇÃO DOS COLABORADORES */
.caixa-fundadores {
  padding-bottom: 20px;
}
.caixa-fundadores h2{
  margin: 30px 0;
}
#lista-fundadores {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fundador {
  min-width: 350px;
  background-color: #ffffff;
  display: flex;

  padding: 10px;
  margin-bottom: 20px;

  box-shadow: 0px 0px 5px #666666;
  text-decoration: none;
  color: #222222
}
.fundador img{
  max-width: 100px;
  width: 100%;
  height: 100px;
  border-radius: 50%;

  margin-right: 15px;
}

/* SEÇÃO ENTRAR EM CONTATO */
.caixa-contato {
  min-height: 400px;
  /* background-color: #666666; */
  padding: 25px 0;
}

form {
  /* background-color: burlywood; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  width: 60%;
  /* background-color: chartreuse; */
  margin-top: 20px;
}

input {
  width: 100%;
  height: 50px;
  border: 2px solid var(--vermelho);
  border-radius: 5px;
  font-size: 1rem;
  color: #222222;
  padding-left: 0.625rem;
}
input::placeholder, textarea::placeholder {
  font-size: 1rem;
  color: #222222;
}
textarea {
  width: 100%;
  height: 120px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  border: 2px solid var(--vermelho);
  border-radius: 5px;
  font-size: 1rem;
  color: #222222;
}
form button {
  width: 250px;
  height: 50px;
  background-color: var(--vermelho);
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--branco);
  margin-top: 30px;
  cursor: pointer;

  transition: background 0.2s;
}

form button:hover {
  background-color: #ce111e;
}

/* SEÇÃO RODAPÉ */
.caixa-rodape {
  height: 200px;
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  color: var(--branco);
}
.caixa-rodape p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.caixa-rodape h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.caixa-rodape img {
  margin-left: 10px;
}


#visa {
  width: 35px;
}
#paypal {
  width: 20px;
}
#mastercard {
  width: 30px;
}

/* SEÇÃO DA PAGINA DO PRODUTO */
.caixa-produto-pagina {
  min-height: 600px;
  padding-top: 50px;
}
.caixa-produto-pagina ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.produto-pagina {
  max-width: 250px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;

  list-style: none;
  margin-bottom: 45px;

  transition: border-color, transform 0.2s;
  cursor: pointer;
}
.produto-pagina:hover {
  transform: scale(1.1);
}
.produto-pagina img {
  width: 100%;
}
.produto-pagina strong {
  display: block;
  margin-bottom: 5px;
}
.preco-antigo {
  font-size: 0.875rem;
  text-decoration: line-through;
  color: #95a5a6;
}
.produto-pagina button {
  width: 100px;
  height: 30px;
  background-color: var(--vermelho);
  display: block;
  margin: 20px auto;

  border: 0;
  border-radius: 5px;
  color: var(--branco);
  cursor: pointer;
  border: 2px solid var(--vermelho);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.produto-pagina button:hover {
  background-color: var(--branco);
  border-color: var(--vermelho);
  color: var(--vermelho);
}
.produto-pagina:hover {
  border-color: var(--vermelho);
}
/* ESTILIZAÇÃO LOGIN */
#login {
  width: 100vw;
  height: 100vh;

  background-image: url('../imagens/background-login.jpg');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
#formulario-login {
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  background-color: #ffffff;

  border-radius: 10px;

  padding: 20px 20px;
  margin: 20px;
}
.caixa-input-login {
  width: 100%;
}
.caixa-input-login input{
  border-color: #cccccc;
}
.caixa-input-radio {
  width: 100%;
  /* background-color: aqua; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa-input-radio input {
  width: 20px;
  margin-left: 13px;
}

/* ESTILIZAÇÃO DA INFORMAÇÕES DO PRODUTO */
.produto-info {
  height: 400px;
  /* background-color: tomato; */

  display: flex;
}
.produto-info div {
  width: 50%;
}
.caixa-produto-info-image {
  /* background-color: violet; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.caixa-produto-info-descricao {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 3.125rem;
  padding-left: 100px;
}
.caixa-produto-info-descricao ul {
  margin-left: 20px;
}
.caixa-produto-info-descricao ul li {
  margin-top: 10px;
}
.caixa-produto-info-descricao h1 {
  font-size: 2.1875rem;
}
.caixa-produto-info-descricao button {
  width: 50%;
  margin-top: 1.5625rem;
  height: 50px;
  background-color: var(--vermelho);
  border: 0;
  border-radius: 5px;
  color: var(--branco);
  cursor: pointer;
  font-size: 1rem;

  transition: background 0.2s;
}
.caixa-produto-info-descricao button:hover {
  background-color: #cf0816;
}
.imagem-produto-info {
  width: 60%;
  height: auto;
}

/* RESPONSIVIDADE DO MENU */
@media (max-width: 850px) {
  #menu {
    display: none;
  }
  #menu-hamburguer {
    display: block;
  }
  nav.active #menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);

    justify-content: center;
  }
  nav.active #menu li {
    display: block;
    width: 80%;
    height: 9vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--vermelho);

    color: var(--branco);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    border-radius: 5px;

    cursor: pointer;
  }

  nav.active #menu li a {
    color: var(--branco);
  }

  nav.active #menu-hamburguer::after {
    top: 50%;
    transform: rotate(135deg);
  }
  nav.active #menu-hamburguer::before {
    width: 100%;
    top: 50%;
    transform: rotate(-135deg);
  }
}